body {
  background-image: url("../photos/tropical_resort_island-wallpaper-1920x1080.jpg");
  text-align: center;
  text-transform: capitalize;
}

ul {
  position: sticky;
    top: 0;
    width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  text-transform: capitalize;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
<<<<<<< HEAD
 h1 {
   text-align: center;
   font-family: inherit;
   color: white;
   background-color: black;
 }
h2 {
  background-color: black;
  background-blend-mode:color-dodge;
=======
h2 {background-color: black;
  color: white;
  text-align: left;
  }
img {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-image: url("../photos/tropical_resort_island-wallpaper-1920x1080.jpg");
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
>>>>>>> zen-resort
  color: white;
}

img {
  height: auto;
  width: 400px;
}

.in{
  background-color: grey;
}

.in {
  background: rgba(255, 255, 255, 0.6);
  font-weight: bolder;
}
}
.center {
  align-items: center;
}
